<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.title %></title>
  </head>
  <body>
    <h1><%= locals.title %></h1>
    <a href="/new">Create new message</a>
    <% locals.messages.forEach((message) =>{ %>
        <div>
            <h3><%= message.user %></h3>
            <p><%= message.text %></p> 
            <h4><%= message.added %></h4>   
        </div>
        <hr>
    <%}); %>
  </body>
</html>
